node_modules
.next
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
tmp
seatmap
seat-configs
csv-output
scripts/generate-seat-csvs.js
*.md

# Sentry Config File
.env.sentry-build-plugin
command.sh
/skyteam-batch-results
batch-oneworld-lounges.js
batch-skyteam-lounges.js
airports.js
batch-staralliance-lounges.js
clean-operation-hours.js
final-csv-generator.js
fix-csv-parsing.js
/staralliance-batch-results
/src/app/api/staralliance-lounges
/src/app/api/skyteam-lounges
/src/app/api/oneworld-lounges
/skyteam-mega-results
/staralliance-mega-results
/staralliance-microservice
/skyteam-microservice
oneworld-test-jfk-2025-09-06T17-42-42-024Z.csv
regenerate-csv-proper.js
regenerate-csv-with-owned-by.js
regenerate-staralliance-csv.js
resume-staralliance-from-rgn.js
resume-staralliance-output.log
resume-staralliance-summary-2025-09-06T19-41-36-883Z.txt
staralliance-mega-progress-improved.json
staralliance-test-nrt-2025-09-06T19-19-56-663Z.csv
staralliance-test-nrt-2025-09-06T19-19-56-663Z.json
update-staralliance-access.js
oneworld-test-jfk-2025-09-06T17-40-26-463Z.csv
/oneworld-microservice
/oneworld-mega-results
fix-operation-hours.js
fix-staralliance-access-format.js
fix-staralliance-csv.js
format-operation-hours.js
mega-oneworld-batch.js
mega-oneworld-output.log
mega-skyteam-batch.js
mega-skyteam-output.log
mega-staralliance-batch.js
mega-staralliance-improved-output.log
mega-staralliance-output.log
monitor-mega-batch.js
monitor-oneworld-batch.js
fix-oneworld-owned-by.js
*.ts
docker-run-app.sh
*.sh
*.txt
