node_modules
.next
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
tmp
seatmap
seat-configs
csv-output
scripts/generate-seat-csvs.js
scripts/jetblue-batch-cron.ts
scripts/jetblue-batch-cron.ts
*.md
